* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* body {
  background: radial-gradient(#ffffffc2, #ff0000a1);
} */

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  font-size: 5vw;
  text-align: center;
  margin-top: calc(50vh - 0.5em);
  font-family: Monoton;
  color: hsla(35, 99%, 50%, 0.3);
  z-index: -1;
}
.container {
    position: relative;
}
#ball {
    opacity: 0.3;
    position: absolute;
}
p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px white;
}
p a {
  text-decoration: none;
  color: #aaa;
}
span {
  font-size: 11px;
}
p > a:first-of-type {
  font-size: 20px;
}
body {
  overflow: hidden;
}
